.menu ul {
    display: flex;
    flex-direction: column;
}

.menu ul li{
    margin: 10px;
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid #f7ad2a;
    width: 140px;
    font-weight: 600;
}

.menu ul li:hover{
    color: #f7ad2a;
    
}